@{
    ViewBag.Title = "Heroes";
}

<div class="row clearfix">
    <div class="col-md-6">
        <div class="row" style="width: 50%; margin: 0 auto;">
            <h1>First Hero</h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="width: 50%; margin: 0 auto;">
            <h1>Second Hero</h1>
        </div>
    </div>
</div>
