@model List<BountyHunterCSharp.Models.Character>
@using BountyHunterCSharp.Models;

@{
    ViewBag.Title = "Star Wars";
}

<nav class="navbar navbar-inverse" role="navigation">
    <div><h4 class="navbar-text navbar-left"><a href="~/Home/Index" class="navbar-link">HOME</a></h4></div><div><h4 class="navbar-text navbar-left"><a href="~/Home/BountyHunters" class="navbar-link">BOUNTY HUNTERS</a></h4></div><div><h4 class="navbar-text navbar-left"><a href="~/Home/Jedis" class="navbar-link">JEDI KNIGHTS</a></h4></div><div><h4 class="navbar-text navbar-left"><a href="~/Home/CreateHunter" class="navbar-link">Create Hunters</a></h4></div><div><h4 class="navbar-text navbar-left"><a href="~/Home/CreateJedi" class="navbar-link">Create Jedi</a></h4></div>
</nav>
<h1>BOUNTY HUNTERS vs JEDI'S</h1>

<h3>Choose a character to view profile</h3>

<div>
    <table class="table table-condensed"><tr><td><h4>NAME</h4></td><td><h4>TYPE</h4></td><td><h4>SYMBOL</h4></td><td><h4>NAVIGATE</h4></td></tr>
        @foreach (Character entities in Model)
        {
            if (entities.Type == BountyHunterCSharp.Models.Character.CharacterType.BountyHunterX)
            {
                <tr class="danger"><td><a href="~/Home/BountyHunters"> @entities.Name</a></td><td>@entities.Type</td>
                <td><img src="http://img2.wikia.nocookie.net/__cb20080221045349/starwars/images/thumb/1/1a/Neo-Crusader_emblem.svg/150px-Neo-Crusader_emblem.svg.png" width="60" height="60"/></td>
                <td><a href="~/Home/BountyHunters" class="btn btn-primary btn-sm active" role="button">View</a></td></tr>
            }

            else
            {
                <tr class="success"><td><a href="~/Home/Jedis"> @entities.Name</a></td><td>@entities.Type</td>
                <td><img src="http://img2.wikia.nocookie.net/__cb20121114220108/pt.starwars/images/7/73/Jedi_symbol_bg.jpg" width="60" height="60" /></td>
                <td><a href="~/Home/Jedis" class="btn btn-primary btn-sm active" role="button">View</a></td></tr>
            }
        }</table>
</div>


<link href="~/Content/bootstrap.css" rel="stylesheet" />